# Root build folder
build/

# Software (Qt)
software/build/
software/*.pro.user
software/*.pro.user.*

# Firmware (STM32 CubeIDE)
firmware/EncoderSimulatorWithTimer/.settings/
firmware/EncoderSimulatorWithTimer/Debug/
