#Root Build Kalsörü
build/ 

#Software (QT)
software/build
software/*.pro.user
software/*.pro.user.*

# Firmware (CubeIDE)
firmware/EncoderSimulatorWithTimer/.settings/
firmware/EncoderSimulatorWithTimer/.cproject
firmware/EncoderSimulatorWithTimer/.mxproject
firmware/EncoderSimulatorWithTimer/.project
firmware/EncoderSimulatorWithTimer/Debug/
